@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant:wght@700&family=Montserrat:wght@600&family=Montserrat&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: #efdcd3;
  --color-background-light: #f5e7dd;
  --color-accent: rgb(188, 89, 87);
  --color-foreground: #1e1d1d;

  --font-serif: "Cormorant", serif;
  --font-sans: "Montserrat", sans-serif;

  --breakpoint-xs: 414px;
  --breakpoint-sm: 700px;
  --breakpoint-md: 960px;

  --animate-loading-spin: loading-spin 1s linear infinite;
}

@keyframes loading-spin {
  0% {
    stroke-dashoffset: 312;
    transform: rotate(70deg);
  }
  60% {
    stroke-dashoffset: -312;
  }
  100% {
    stroke-dashoffset: -312;
    transform: rotate(450deg);
  }
}

@layer base {
  html,
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-foreground);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-serif);
    font-weight: 700;
  }

  h1 {
    font-size: 3rem;
    margin: 0.67em 0;
  }

  h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
  }

  p {
    margin: 1em 0;
  }
}
